---
// import  MenuItems  from './Menu.astro';
---
<div id="top"></div>
<header>
<ul class="topmenu" style={{ fontSize:'clamp(.6rem, 1.6vw, 1.8rem)',  textAlign:'center',maxHeight:'', display:'flex', justifyContent:'space-between', gap:'4vw',  alignItems:'center', margin:'0 auto 0 auto', padding:'1.5vh 2% 0 2%', border:'0px solid white',}}>
    <!-- <li>
        <a
        aria-label={MenuItems}
        href="{MenuItems}"
        title="{MenuItems}"
        class="navbar-item"
      >
        {MenuItems.menutitle}
    </a>
    </li> -->
    <li><a href="">Links</a></li>
    <li><a href="">Posts</a></li>
    <li><a href="">About</a></li>
</ul>
</header>